{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>سامانه دانشجویی | خانه</title>
<link rel="icon" type="image/x-icon" href="{% static 'newapp\images\demo\icons.png' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'newapp/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="clear"> 
    <!-- ################################################################################################ -->
    
    <div class="fl_left">
      <ul class="nospace linklist">
        <li>دانشگاه تبریز - سامانه دانشجویان دانشکده کامپیوتر</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace linklist">
        <li><i class="fa fa-phone"></i>۰۴۱-۳۳۳۴۰۰۸۱-۹</li>
        <li><i class="fa fa-envelope-o"></i> tabriz.university@domain.com</li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
   <div id="logo" class="fl_left">
      <h1><a href="/newapp">سامانه دانشجویی</a></h1>
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right">
      <ul dir="rtl"
            class="clear">
        <li class="active"><a href="/newapp">خانه</a></li>
        <li><a class="drop" href="#">امور آموزش</a>
          <ul>
            <li><a href="sidebar-right.html">کارنامه تحصیلی</a></li>
            <li><a href="basic-grid.html">دروس رشته</a></li>         
          </ul>
        </li>
        <li><a href= "sidebar-left.html">اطلاعات دانشجویی</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>

</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2 bgded" >
  <div class="overlay">
   <div id="breadcrumb" class="clear"> 

 <ul>
        <li><a href="#">خانه</a></li>
      </ul>

   </div>
  </div>
</div>
<!-- ################################################################################################ -->
<style>
body {
  background-image: url('{% static 'newapp/images/demo/backgrounds/555.jpg' %}');
}
</style>


<style>
        *{margin: 0; padding: 0;}
        .banner{position: relative;  width: 100%; margin: -15px auto;}
        .banner img{ border-radius: 35px;padding: -20px; width: 1000px;}
        .heading{color: white; position: absolute;margin: -85px 30px 75px 210px ; top: 50%; windows: 100%; test-align:                      center;padding: -2px}
        .content1{text-shadow: 2px 2px 5px black;  color:white;font-size:125%;text-align:center;padding: -100px}
     
</style>


<main class="container clear"> 
<!-- main body -->
<!-- ################################################################################################ -->

<div class="content">
 

<div class="banner">


 <h2 dir="rtl"
       style="color:white;">
بولتن ​بورد داخلی دانشگاه</h2>
            
                          <img  src="{% static 'newapp/images/564426099-0.jpeg' %}" data-image-width="50" data-image-height="250" data-                            animation-name="" data-animation-duration="0" data-animation-direction="">
                                                  <h4 class="heading">
                                                          کنترل هفتگی چاپ انتخاب واحد ۰۰۲ برای جلوگیری از مشکلات انتهای ترم          
                                                  </h4>
                                                  <h5> </h5>
                
                                                  <h6  style="color:white;text-align:center;padding:15px"> درباره </h6>
                                                 
                                                           <pre   class="content1" ><b>
دانشگاه تبریز یک از دانشگاه ها ی دولتی وابسته به وزارت علوم، تحقیقات و فناوری می‌باشد
که در شهر تبریز واقع استاین دانشگاه شامل ۲۲ دانشکده و در کل 
دارای ۲۹ قطب علمی و مجتمع آموزشی است در سال ۱۳۲۶ از سوی
دو تن از استادان دانشگاه تهران، به نام‌های  «مصطفی حبیبی» و «خان‌بابا بیانی» جهت
راه‌اندازی واقعی با امکانات مورد نیاز، دانشگاه 
تبریز اقدام شد این دانشگاه هم‌اکنون بزرگترین مرکز
.آموزشی در غرب و شمال غرب کشور است




                                                          </b> </pre>


</div>
</div>
<!-- / main body -->
<div class="clear"></div>
</main>






<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
      
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first"
            align="right">
      <h6 class="title">  اطلاعات دانشگاه</h6>
      <ul class="nospace linklist">
        <li class="btmspace-10">
          <address>
          <span class="fa fa-map-marker"></span>نشانی: ایران،آذربایجان شرقی،تبریز، بلوار ۲۹بهمن،دانشگاه تبریز
          </address>
        </li>
        <li class="btmspace-10"><span class="fa fa-phone"></span>تلفن:۹-۳۳۳۴۰۰۸۱-۰۴۱ </li>
        <li class="btmspace-10"><span class="fa fa-phone"></span> ۰۴۱۵۱۶۶۶۱۶۴۷۱ :کدپستی</li>
        <li><span class="fa fa-envelope-o"></span> دورنگار: ۳۳۳۴۴۰۱۳-۰۴۱</li>
      </ul>
    </div>
    <div class="one_quarter"
            align="right">
      <h6 class="title">دسترسی سریع</h6>
      <ul class="nospace linklist">
        <li><a href="/newapp">خانه</a></li>
        <li><a href="sidebar-right.html">کارنامه تحصیلی</a></li>
        <li><a href="basic-grid.html">دروس رشته</a></li>
        <li><a href="sidebar-left.html">اطلاعات دانشجویی</a></li>
      </ul>
    </div>  
    <div class="one_quarter"
            align="right">
      <h6 class="title">پیوندهای مفید</h6>
      <form class="btmspace-50" method="post" action="#">
<ul class="nospace linklist">
        <li><a href="http://www.msrt.ir/fa">وزارت علوم، تحقیقات و فناوری</a></li>
        <li><a href="http://www.president.ir/">پایگاه اطلاع رسانی ریاست جمهوری</a></li>
        <li><a href="http://tabrizu.ac.ir/fa/page/10186/%D8%AF%D8%A7%D9%86%D8%B4%DA%AF%D8%A7%D9%87-%D9%87%D8%A7-%D9%88-%D9%85%D8%B1%D8%A7%DA%A9%D8%B2-%D8%A2%D9%85%D9%88%D8%B2%D8%B4-%D8%B9%D8%A7%D9%84%DB%8C">دانشگاه ها و مراکز آموزش عالی</a></li>
        <li><a href="http://www.leader.ir/">پایگاه اطلاع رسانی دفتر مقام معظم رهبری</a></li>
      </ul>

    </div>



    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row6">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">کلیه حقوق متعلق به امیر.م می باشد.</p>
    <p class="fl_right">طراح وبسایت: امیر.م </p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- JAVASCRIPTS -->
<script src="{% static 'newapp/layout/scripts/jquery.min.js' %}"></script> 
<script src="{% static 'newapp/layout/scripts/jquery.mobilemenu.js'%}"></script>
</body>
</html>